.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f788a2;
  padding: 10px;
}
.nameinput:hover{
  scale: 1.1;
}
.emailinput:hover{
  scale: 1.1;
}
.submit:hover{
  scale: 1.1;
}
.delete:hover{
  scale: 1.1;
}
.list{
  list-style-type:none;
}
.delete{
  background-color: #1c1c1c;
  color: #f788a2;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  border-color: #f788a2;
}
.nameinput{
  background-color: #1c1c1c;
  color: #f788a2;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  border-color: #f788a2;
}
.emailinput{
  background-color: #1c1c1c;
  color: #f788a2;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  border-color: #f788a2;
}
.submit{
  background-color: #1c1c1c;
  color: #f788a2;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  border-color: #f788a2;
}
.App-link {
  color: #f788a2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
